@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Evergreen;
  src: url(/public/fonts/Evergreen.otf);
}

.Evergreen {
  font-family: Evergreen;
}

@font-face {
  font-family: Poppin;
  src: url(/public/fonts/Poppins-Regular.ttf);
}

.Poppin {
  font-family: Poppin;
}

@font-face {
  font-family: Zah;
  src: url(/public/fonts/Zaptron-Regular.otf);
}

.Zah {
  font-family: Zah;
}
:root {
  font-family: Poppin, Evergreen, Zah;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}
